*
!bin
!bin/**
!config
!config/config.yaml
!data
!envs
!envs/*
!external
!external/**
!LICENSE
!README.md
!scripts
!scripts/*
!workflow
!workflow/**
!wrappers
!wrappers/**
!docs/wrappers
!.gitignore
!.editorconfig
!.gitattributes
!.gitmodules
!.snakemake-workflow-catalog.yaml
!.test
!.test/data
